body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  scroll-behavior: smooth;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(./../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #222;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
